@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin="" />

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>

</head>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <p>Hellot <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <div id="map">Hello Map</div>
    <script>
        var map = L.map('map').setView(new L.LatLng(30.29143665938016, 57.12764030869742), 15);



        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: 'pk.eyJ1IjoiZ2hhc2VtYWxpemFkZWgiLCJhIjoiY2t4c2R2Z281NjQ4YzJ0cWh4czMzNHF6MiJ9.I4VNPtQxcKFvqiP-64CXCg'
        }).addTo(map);

        var lat, lng;

        map.addEventListener('mousemove', function (ev) {
            lat = ev.latlng.lat;
            lng = ev.latlng.lng;
        });

        document.getElementById("map").addEventListener("contextmenu", function (event) {
            // Prevent the browser's context menu from appearing
            event.preventDefault();
            // Add marker
            // L.marker([lat, lng], ....).addTo(map);
            alert(lat + ' - ' + lng);

            return false; // To disable default popup.
        });



    </script>
</div>
<!--

 var wmsLayer = L.tileLayer.wms('http://ows.mundialis.de/services/service?', {
            layers: 'TOPO-OSM-WMS'
        }).addTo(map);

-->
